:root {
    --main-color: #10cab7;
}

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */
/* start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: 20px;
    }
}

/* end components */
/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo {
    width: 60px;
}

.links {
    position: relative;
}

.container .links i {
    font-size: 25px;
}

.container .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.container .links ul li {
    transition: 0.3s;
}

.container .links ul a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;

}

.container .links:hover ul {
    display: block;
}

.container .links ul li:hover {
    padding-left: 15px;
}

.container .links ul li:not(:nth-child(4)) {
    border-bottom: 1px solid #00000036;
}

.container .links ul::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    border-width: 10px;
    position: absolute;
    top: -20px;
    right: 0;
    padding: 0 5px 0;
}

/* end header */
/* start landing */
.landing {
    background-image: url(landing.jpg);
    background-size: cover;
    height: calc(100vh - 15px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
}

/* end landing */
/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end features */
/* start services */
.services {
    padding-top: 60px;
    padding-bottom: px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 50px;
}

@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .srv .text {
    flex: 1;
}

.services .srv .text h3 {
    font-weight: 800;
    margin: 0 0 20px;
}

.services .container .image img {
    width: 260px;
}

.services .container .image {
    position: relative;
}

.services .container .image::before {
    content: '';
    background-color: #2c4755;
    width: 100px;
    height: 113%;
    position: absolute;
    right: 0px;
    top: -29px;
    z-index: -1;
}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}

/* end services */
/* start portofolio */
.portofolio {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.portofolio .portofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 50px;
}

.portofolio .portofolio-content .card img {
    max-width: 100%;
}

.portofolio .portofolio-content .card {
    background-color: white;
    margin-bottom: 25px;
}

.portofolio .portofolio-content .info {
    padding: 20px;
}

.portofolio .portofolio-content .info p {
    margin: 0;
    line-height: 1.8;
}

.portofolio .portofolio-content .info h3 {
    margin-top: 0;
}

/* end portofolio */
/* start about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .image::before {
    content: "";
    content: "";
    position: absolute;
    top: -25px;
    left: -13px;
    height: 430px;
    background: #ebeced;
    width: 106px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    width: 105px;
    height: 236px;
    position: absolute;
    border: 77px solid var(--main-color);
    border-top: transparent;
    border-right: transparent;
    top: -31px;
    right: -131px;
    z-index: -1;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

.about .about-content .text p:last-of-type {
    line-height: 1.8;
    color: #777;
}

@media (max-width:767px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about .about-content .text {
        margin-top: 70px;
    }

    .about .about-content .image {
        align-self: center;
    }

    .about .about-content .image::after {
        display: none;
    }

    .about .about-content .image::before {
        display: none;
    }
}

/* end about */
/* start contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .info {
    padding: 60px 0;
    text-align: center;
}

.contact .info .label {
    font-weight: 900;
    font-size: 40px;
    color: #2c4755;
    margin-bottom: 20px;
}

.contact .info .link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 30px;
    background-color: white;
    padding: 7px;
}

.contact .info .social {
    margin-top: 30px;
}

.contact .info .social i {
    padding: 4px;
    transition: 0.3s;
}

.contact .info .social i:nth-child(1):hover {
    color: #fe0000;
}

.contact .info .social i:nth-child(2):hover {
    color: #1877f2;
}

.contact .info .social i:nth-child(3):hover {
    color: #1877f2;
}

/* end contact */
/* start footer */
.footer .infof {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #2c4755;
    color: white;
}

.footer .infof p {
    align-self: center;
}

.footer .infof span {
    font-weight: 700;
    color: var(--main-color);
}

/* end footer */